/*
colors used

primary color (Dark Blue): #040c3d;
secondary color (light blue): #91d5fc;
supporting color (dark grey): #636365;
supporting color (light grey): #9d9d9d;
activity color (orange): #f9710d;
background color (white): #ffffff;
*/

/*general*/

* {
  box-sizing:border-box;
}
body {
  background-color: #ffffff;
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  font-weight:  300;
  line-height: 1.6;
  color: #040c3d;
}
h1 {
  font-size: 28px;
  font-weight: 700;
  padding: 40px 0;
}

h2 {
  font-size: 22px;
  font-weight: 400;
}
h3 {
  font-size: 18px;
  font-weight: 300;
}
a {
  color: #91d5fc;
  text-decoration: none;
}
a:visited {
  color: #91d5fc;
}
a:hover,
a:focus {
  color: #f9710d;
}
a:active {
  color: #91d5fc;
}
nav ul li a {
  color: #040c3d;
  font-size: 18px;
  text-decoration: none;
  font-weight: 400;
}
nav ul li a:visited {
  color: #040c3d;
}
nav ul li a:hover,
nav ul li a:focus {
  color: #f9710d;
}
nav ul li a:active {
  color: #91d5fc;
}
nav {
  display: inline-block;
  float: right;
  margin-top: 25px;
}
button,
.button {
  border: none;
  font-family: inherit;
  background-color: #040c3d;
  color: white !important;
  text-decoration: none;
  padding: 8px;
  border-radius: 3px;
  border-bottom: 2px solid #03474c;
  margin: 0 0 30px 0;
  display: inline-block;
  transition: 0.2s opacity;
}
button:hover,
button:focus,
.button:hover,
.button:focus {
  cursor:pointer;
  opacity: 0.8;
}

/*Animation*/

@keyframes cloud-move {
  from {transform: translate(0,50px);}
  to {transform: translate(200px,50px);}
}
.city {
  animation: 30s cloud-move infinite alternate linear;
}


/* Layout styling */
.center {
  text-align:center;
}
.row {
  display: inline-block;
  padding: 20px 0;
  border-bottom: 1px dashed #91d5fc;
  width: 100%;
}
.wrapper {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto; /* No spacing to top and bottom and auto spacing to left and right */
  padding: 0 20px;
}
.logo {
  display: inline-block;
  padding: 20px;
}
.hero {
  display: inline-block;
  width: 100%;
  background-color: #040c3d;
  color: white;
}
.column {
  width: 50%;
  float: left;
}
.col-2 {
  padding: 10px;
}
.navigation {
  list-style-type: none;
  padding: 0;
}
.navigation > li {
  display:inline-block;
  margin-left: 10px;
}
.navigation {
  list-style-type: none;
  padding: 0;
  float: right;
}
header {
  padding: 10px 0 0 0;
}
.cnt {
  list-style-type: none;
  display: inline-block;
  width: 100%;
  padding: 30px 0;
}
.cnt li {
  float: left;
  width: 30%;
  margin-right: 5%;
  text-align: center;
}
.cnt li:last-child {
  margin-right: 0;
}

@media all and (max-width: 500px) {
  .logo {
    /* Make logo smaller by changing it's height */
    height: 50px;
  }
  .col-2 {
    width: 100%;
    margin-right: 1%;
  }
