/*
colors used

primary color (Dark Blue): #040c3d;
secondary color (light blue): #91d5fc;
supporting color (dark grey): #636365;
supporting color (light grey): #9d9d9d;
activity color (orange): #f9710d;
background color (white): #ffffff;
*/

body {
  background-color: #ffffff;
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color: #040c3d;
}

.center {
  text-align:center;
}

h1 {
  font-size: 30px;
  font-weight: 700;
}

h2 {
  font-size: 24px;
  font-weight: 500;
}

h3 {
  font-size: 18px;
  font-weight: 400;
}

nav ul li a {
  color: #040c3d;
  font-size: 18px;
  text-decoration: none;
  font-weight: 400;
}

nav ul li a:visited {
  color: #040c3d;
}

nav ul li a:hover,
nav ul li a:focus {
  color: #f9710d;
}

nav ul li a:active {
  color: #91d5fc;
}

button,
.button {
  border: none;
  font-family: inherit;
  background-color: #040c3d;
  color: white !important;
  text-decoration: none;
  padding: 8px;
  border-radius: 3px;
  border-bottom: 2px solid #03474c;
  transition: 0.2s opacity;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  cursor:pointer;
  opacity: 0.8;
}
