/*
colors used

primary color (Dark Blue): #040c3d;
secondary color (light blue): #91d5fc;
supporting color (dark grey): #636365;
supporting color (light grey): #9d9d9d;
activity color (orange): #f9710d;
background color (white): #ffffff;
*/

body {
  background-color: #ffffff;
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color: #040c3d;
}

.center {
  text-align:center;
}

h1 {
  font-size: 28px;
  font-weight: 700;
  text-align:left;
}

h2 {
  font-size: 22px;
  font-weight: 500;
  text-align:center;
}

h3 {
  font-size: 18px;
  font-weight: 400;
  text-align:center;
}

nav ul li a {
  color: #040c3d;
  font-size: 18px;
  text-decoration: none;
  font-weight: 400;
}

nav ul li a:visited {
  color: #040c3d;
}

nav ul li a:hover,
nav ul li a:focus {
  color: #f9710d;
}

nav ul li a:active {
  color: #91d5fc;
}

li {
  text-align: left;
}

p {
  text-align: left;
}

button,
.button {
  border: none;
  font-family: inherit;
  background-color: #040c3d;
  color: white !important;
  text-decoration: none;
  padding: 8px;
  border-radius: 3px;
  border-bottom: 2px solid #03474c;
  transition: 0.2s opacity;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  cursor:pointer;
  opacity: 0.8;
}

.container-block {
  display:block;
}

.container-inline-block {
  display:inline-block;
}

.container {
  position:relative;
  float:right;
  width: 80%;
  min-width: 360px;
  max-width: 1200px;
}

* {
  box-sizing:border-box;
}

/* Layout styling */

.wrapper {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto; /* No spacing to top and bottom and auto spacing to left and right */
  padding: 0 20px;
}

.column-2 {
  width: 48%;
  display: inline-block;
}

.column-2 {
  width: 48%;
  display:inline-block;
  margin-right: 1%;
}

.column-2 {
  width: 48%;
  margin-right: 1%;
  display:inline-block;
  float: left;
  text-align:center;
}

.column-2:nth-child(2) {
  margin-right: 0;
}

.navigation {
  list-style-type: none;
  padding: 0;
}

.navigation > li {
  display:inline-block;
  margin-left: 10px;
}

.navigation {
  list-style-type: none;
  padding: 0;
  float: right;
}

@media all and (max-width: 500px) {
  .logo {
    /* Make logo smaller by changing it's height */
    height: 50px;
  }
