/*
colors used

primary color (Dark Blue): #040c3d;
secondary color (light blue): #91d5fc;
supporting color (dark grey): #636365;
supporting color (light grey): #9d9d9d;
activity color (orange): #f9710d;
background color (white): #ffffff;
*/

body {
  background-color: #ffffff;
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  line-height: 1.2;
  color: #040c3d;
}

h1 {
  font-size: 30px;
  text-align: center;
}

h2 {
  font-size: 24px;
  text-align: center;
}

h3 {
  font-size: 18px;
  text-align: center;
}

a {
  color: #040c3d;
  text-align: center;
}

a:hover {
  text-decoration: none;
}

a:visited {
  color: #040c3d;
}

a:active {
  color: #91d5fc;
}

a:hover,
a:focus {
  text-decoration: none;
}

button {
  border: none;
  font-family: inherit;
  background-color: #040c3d;
  color: white !important;
  text-decoration: none;
  padding: 8px;
  border-radius: 3px;
  border-bottom: 2px solid #03474c;
  transition: 0.2s opacity;
}

button:hover,
button:focus {
  cursor:pointer;
  opacity: 0.8;
}

a {
  color: #0403cd;
}
#my-link {
  color: green;
}
.my-link {
  color: blue;
}
